html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #898989;
    font-family: 'Calibri';
    font-size: 15px;
    font-weight: 300;
    line-height: 2.5em;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
    position: fixed;
    background: rgba(214, 211, 211, 0.931);
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
    float: right;
    line-height: 32px;
    margin-bottom: 0;
    padding-top: 36px;
}

a.menu {
    font-size: 16px;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    color: #000000;
}

a.menu:hover, a.menu:focus, a.menu-active:hover {
    text-decoration: none;
    color: #936174;
}

a.menu-active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 18%;
}

a.ig {
    font-size: 25px;
    margin-top: -4px;
    padding-left: 0px;
    padding-right: 0px;
    color: #000000;
}

a.twt {
    font-size: 25px;
    margin-top: -4px;
    color: #000000;
}

a.fb {
    font-size: 25px;
    margin-top: -4px;
    padding-left: 0px;
    padding-right: 0px;
    color: #000000;
}

a.ig:hover, a.twt:hover, a.fb:hover {
    color:#936174;
}

nav ul li {
    float: left;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 40px;
}

nav ul li.socials {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #999999;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.logo {
    float: left;
}

.logo img {
    width: 227px;
    height: 79px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.responsive {
    display: none;
    font-size: 30px;
    color: #000000;
}

.active {
    color: #afafaf;
}


/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
    background: url("../images/About-Page/about_wide.png") repeat scroll center center / cover;
    width: 100%;
    height: 100%;
}

#header .header-content {
    height: 70vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-content h1 {
    font-size: 57px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.header-content p {
    font-size: 34px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bolder;
}

.container-nz {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


/*----------------------------------------------------------------------------------*/
/*  About Header
/*-----------------------------------------------------------------------------------*/

#about {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    padding-top: 80px;
}

#about .p-heading {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

#about .separator-description {
    margin-bottom: 0;
    max-width: 100%;
    padding-top: 1%;
    text-align: left;
    color: #000000;
    font-weight: bolder;
    font-size: 25px;
}

img.badge-1 {
    width: 133px;
    height: 130px;
}


/*----------------------------------------------------------------------------------*/
/*  Timeline Section
/*-----------------------------------------------------------------------------------*/

#education-timeline {
    position: relative;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

.timeline-start, .timeline-end {
    display: table;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    background: #00b0bd;
    padding: 15px 23px;
    color: #fff;
    max-width: 5%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.timeline-center-line {
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -2px;
    background: #797979;
}

.tl-circleL {
    position: absolute;
    top: 34%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-left: -23px;
    color: #ffffff;
    border-radius: 100%;
    background: #797979;
}

.tl-circleR {
    position: absolute;
    top: 34%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-left: -23px;
    color: #fff;
    border-radius: 100%;
    background: #ea4646;
}

.education-timeline-content {
    padding-top: 47px;
    padding-bottom: 67px;
}

.timeline-article {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0px 0;
}

.content-left-container, .content-right-container {
    max-width: 44%;
    width: 100%;
}

.content-left {
    position: relative;
    width: auto;
    background-color: #797979;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
    padding: 27px 25px;
    margin-top: 5%;
}

.content-right {
    position: relative;
    width: auto;
    background-color: #ea4646;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
    padding: 27px 25px;
    margin-top: 5%;
}

.timeline-article h4 {
    color: #ffffff;
    font-weight: bold;
}

.timeline-article p {
    padding: 0;
    font-weight: bolder;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    position: relative;
}

.btn-primary-details {
    margin-top: 2%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
}

.timeline-article figcaption {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.content-left-container {
    float: left;
}

.content-right-container {
    float: right;
}

.img-item1, .img-item2, .img-item3 {
    margin-top: 10%;
}

.img-item4 {
    margin-top: 10%;
    margin-left: -5%;
}

.p-2 {
    background: none;
    margin-top: 4%;
    margin-left: 4%;
}

.col-lg-10 {
    padding-left: 10%;
}


/*-----------------------------------------------------------------------------------*/
/*  Awards Section
/*-----------------------------------------------------------------------------------*/

.academic-continer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0px 0;
}

.separator-description-awards {
    margin-bottom: 0;
    max-width: 100%;
    padding-top: 1%;
    text-align: center;
    color: #000000;
    font-weight: bolder;
    font-size: 25px;
}

#academic {
    width: 100%;
    height: 100%;
    background-color: #e3e3e3;
    padding-top: 80px;
    padding-bottom: 8%;
}

figcaption.acad {
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.content-acad {
    position: relative;
    width: auto;
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: #ea4646;
    padding: 27px 25px;
    margin-top: 5%;
}

.content-acad-2 {
    position: relative;
    width: auto;
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: #797979;
    padding: 27px 25px;
    margin-top: 5%;
}

.btn-primary-details-acad {
    margin-top: 2%;
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: #ea4646;
}

.btn-primary-details-acad-2 {
    margin-top: 2%;
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: #797979;
}

h4.acad {
    color: #000000;
    font-weight: bold;
}

p.acad {
    color: #000000;
    margin-top: 1%;
    margin-bottom: 0%;
    font-size: 20px;
    font-weight: bolder;
}

.column {
    float: left;
    width: 33.33%;
    margin-top: 1%;
    margin-left: 12px;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/
.page-footer {
    background-color: #dddada;
}

.list-inline {
    margin-bottom: 0%;
}

.text-center {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
}

.footer-social {
    font-size: 30px;
    color: #000000;
    margin-left: 25px;
}

.footer-social:hover {
    color: #936174;
}


/*----------------------------------------------------------------------------------*/
/* Responsive Elements
/*----------------------------------------------------------------------------------*/

/* 992px to 1046px*/
@media (max-width: 1067px) {
    /*----------------------------------------------------------------------------------*/
    /*  Navbar Top
    /*-----------------------------------------------------------------------------------*/
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .responsive {
        float: right;
        padding-top: 22px;
        display: block;
        margin-right: 1%;
    }

    /*----------------------------------------------------------------------------------*/
    /*  About
    /*-----------------------------------------------------------------------------------*/
    #about {
        width: 100%;
        height: auto;
        background-color: #efefef;
        padding-top: 120px;
    }

    .p-heading {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-left: 0%;
    }

    .separator-description {
        padding-top: 2%;
        max-width: 100%;
        text-align: center;
        color: #000000;
        font-size: 26px;
        margin-left: 0%;
        font-weight: bolder;
        margin-bottom: 2%;
    }
}

/* 940px to 991px */
@media (max-width: 991px) {
    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/About-Page/about_991.png") repeat scroll center center / cover;
        height: 70vh;
        width: 100%;
    }

    /* Navbar */
    nav {
        padding: 10px 15px;
        background-color: #cfcace;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul li.socials {
        margin-left: 0;
    }

    .responsive {
        float: right;
        padding-top: 27px;
        display: block;
    }

    a.menu-active {
        padding-bottom: 2%;
    }

    .header-content h1 {
        text-align: center;
    }

    .header-content p {
        text-align: center;
    }


    /*----------------------------------------------------------------------------------*/
    /*  About
    /*-----------------------------------------------------------------------------------*/
    .p-heading {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-left: 8%;
    }
    .separator-summary {
        max-width: 80%;
        margin-bottom: 0;
        text-align: left;
        color: #000000;
        font-weight: bold;
        font-size: 25px;
        margin-left: 20%;
    }
    .separator-description {
        padding-top: 2%;
        max-width: 100%;
        text-align: left;
        color: #000000;
        font-size: 26px;
        font-weight: bolder;
    }

    /*  Timeline */
    .img-item1 {
        width: 274px;
        height: 280px;
    }

    .img-item2 {
        padding-left: 0px;
        width: 274px;
        height: 280px;
    }

    .img-item3 {
        width: 274px;
        height: 429px;
    }

    .img-item4 {
        margin-left: 0%;
        width: 274px;
        height: 243px;
    }

    .btn-primary-details {
        margin-left: 0%;
    }

    .card-body {
        margin-left: 0%;
    }

    .p-2 {
        margin-left: -6%;
    }

    .timeline-article figcaption {
        margin-top: 5%;
    }
}


/* 768px to 939px */
@media (max-width: 939px) {
    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/About-Page/about_991.png") repeat scroll center center / cover;
        height: 70vh;
        width: 100%;
    }

    /*  Timeline */
    .img-item1 {
        width: 274px;
        height: 280px;
        margin-left: 0%;
    }

    .img-item2 {
        padding-left: 0px;
        width: 274px;
        height: 280px;
        margin-left: 0%;
    }

    .img-item3 {
        width: 260px;
        height: 395px;
        margin-left: 4%;
    }

    .img-item4 {
        padding-left: 0px;
        width: 274px;
        height: 243px;
        margin-left: 2%;
    }
}

@media (max-width: 830px) {
    /*  Timeline */
    .img-item1, .img-item2{
        width: 274px;
        height: 280px;
        margin-left: 25%;
    }

    .img-item3 {
        width: 274px;
        height: 429px;
        margin-left: 25%;
    }

    .img-item4 {
        margin-left: 0%;
        width: 274px;
        height: 243px;
        margin-left: 25%;
    }
}

/* 601px to 767px */
@media (max-width: 767px) {
    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/About-Page/about_991.png") repeat scroll center center / cover;
        height: 70vh;
        width: 100%;
    }

    #header .header-content {
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header-content h1 {
        font-size: 57px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }

    .header-content p {
        font-size: 34px;
        margin-top: 0;
        margin-bottom: 30px;
        color: #fff;
        font-weight: bolder;
    }
    /*----------------------------------------------------------------------------------*/
    /*  About
    /*-----------------------------------------------------------------------------------*/
    #about .p-heading {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-left: 8%;
    }

    #about .separator-description {
        padding-top: 2%;
        max-width: 100%;
        text-align: center;
        color: #000000;
        font-size: 26px;
        font-weight: bolder;
    }

    /*  Timeline */
    .img-item1 {
        width: 274px;
        height: 280px;
        margin-left: 15%;
    }

    .img-item2 {
        padding-left: 0px;
        width: 274px;
        height: 280px;
        margin-left: 15%;
    }

    .img-item3 {
        width: 260px;
        height: 395px;
        margin-left: 18%;
    }

    .img-item4 {
        padding-left: 0px;
        width: 274px;
        height: 243px;
        margin-left: 16%;
    }

    .card-title, .card-text, .btn-primary-details {
        margin-left: 0%;
    }

    .card-body {
        margin-left: 0%;
    }

    .p-2 {
        margin-left: -6%;
    }

    .timeline-article figcaption {
        margin-left: 8%;
    }


    /*----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    .blog-info {
        background: #ffffff;
        border-radius: 5%;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.144);
        width: 90%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .btn-primary-blog {
        margin-left: 60px;
        margin-right: 60px;
        width: 75%;
    }
}

/* 481px to 600px */
@media (max-width: 600px) {
    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/About-Page/about_991.png") repeat scroll center center / cover;
        height: 70vh;
        width: 100%;
    }

    #header .header-content {
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header-content h1 {
        font-size: 57px;
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }

    .header-content p {
        font-size: 29px;
        margin-top: 0;
        margin-bottom: 30px;
        color: #fff;
        font-weight: bolder;
    }

    img.badge-1 {
        width: 81px;
        height: 74px;
    }

    img.badge-2 {
        width: 81px;
        height: 74px;
    }
}

/* 321px to 480px */
@media (max-width: 480px) {
    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/About-Page/about_mobile.png") repeat scroll center center / cover;
        height: 65vh;
        width: 100%;
    }

    .header-content h1 {
        font-size: 37px;
        margin-bottom: 1px;
        margin-top: -30%;
        color: #fff;
    }

    .responsive {
        float: right;
        padding-top: 22px;
        display: block;
        margin-right: 10%;
    }
    /*----------------------------------------------------------------------------------*/
    /*  About
    /*-----------------------------------------------------------------------------------*/
    #about {
        width: 100%;
        height: auto;
        background-color: #efefef;
        padding-top: 70px;
    }

    .div-img-bg {
        padding-bottom: 30px;
    }

    .div-img-bg .about-img img {
        width: 100%;
        height: 290px;
        box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
        object-fit: cover;
        margin-left: 0%;
        margin-top: 1%;
    }

    .p-heading {
        font-size: 45px;
        text-align: center;
        font-weight: bold;
        color: #000000;
        margin-left: 0%;
    }

    .separator-summary {
        max-width: 90%;
        margin-bottom: 0;
        text-align: center;
        color: #000000;
        font-weight: bold;
        font-size: 23px;
        margin-left: 5%;
    }

    .separator-description {
        padding-top: 2%;
        max-width: 78%;
        text-align: center;
        color: #000000;
        font-size: 22px;
        margin-left: 10%;
        font-weight: bolder;
    }

    .btn-primary-first {
        margin-top: 10%;
        margin-left: 12%;
        margin-bottom: 0%;
        padding-top: 9px;
        color: #000000;
        background-color: #eea179;
        border-color: #eea179;
        max-width: 77%;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
    }

    .btn-primary-second {
        margin-top: 3%;
        margin-left: 12%;
        margin-bottom: 25%;
        padding-top: 9px;
        color: #000000;
        background-color: #eea179;
        border-color: #eea179;
        max-width: 77%;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
    }

    /*  Timeline */
    .img-item1 {
        width: 158px;
        height: 191px;
        margin-left: 0%;
    }

    .img-item2 {
        padding-left: 0px;
        width: 162px;
        height: 205px;
        margin-left: 0%;
    }

    .img-item3 {
        width: 167px;
        height: 284px;
        margin-left: 0%;
    }

    .img-item4 {
        padding-left: 0px;
        width: 168px;
        height: 178px;
        margin-left: 0%;
    }

    .card-title, .card-text, .btn-primary-details {
        margin-top: 8%;
        margin-left: 0%;
    }

    .card-body {
        margin-left: 0%;
    }

    .p-2 {
        margin-left: 0%;
    }

    .timeline-article h4 {
        margin-left: 0%;
    }

    .timeline-article p {
        margin-top: 5%;
        margin-left: 0%;
    }

    .timeline-article figcaption {
        margin-top: 8%;
        margin-left: 8%;
        font-size: 20px;
    }
}

/* 0px to 320px */
@media (max-width: 320px) {
    /*-----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/About-Page/about_mobile.png") repeat scroll center center / cover;
        height: 100vh;
        width: 100%;
    }

    .header-content h1 {
        font-size: 37px;
        margin-bottom: 1px;
        margin-top: -50%;
    }

    .header-content p {
        font-size: 42px;
        margin-top: 0;
        margin-bottom: 16px;
    }
    /*----------------------------------------------------------------------------------*/
    /*  About
    /*-----------------------------------------------------------------------------------*/
    .p-heading {
        margin-left: 5%;
    }

    .separator-summary {
        margin-left: 5%;
    }

    .separator-description {
        margin-left: 12%;
    }

    .btn-primary-first, .btn-primary-second {
        margin-left: 12%;
    }

    /*----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    .col-md-6 {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .blog-info {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #blog {
        height: 100%;
        width: 100%;
        background: #e3e0e0;
        padding-bottom: 60px;
        position: relative;
    }

    .blog-title {
        font-size: 35px;
    }

    .blog-description {
        font-size: 20px;
    }

    .btn-primary-blog {
        margin-left: 22px;
        margin-right: 22px;
        width: 250px;
        height: 50px;
    }

    /*----------------------------------------------------------------------------------*/
    /*  Footer
    /*-----------------------------------------------------------------------------------*/
    .text-center {
        font-size: 18px;
    }
}


/* Timeline Elements */
@media only screen and (max-width: 830px) {
    #education-timeline .timeline-start, #education-timeline .timeline-end {
        margin: 0;
    }

    #education-timeline .timeline-center-line {
        margin-left: 0;
        left: 50px;
    }

    .tl-circleL, .tl-circleR {
        margin-left: 0;
        left: 29px;
    }

    .timeline-article .content-left-container, .timeline-article .content-right-container {
        max-width: 100%;
        width: auto;
        float: none;
        margin-left: 110px;
        min-height: 53px;
    }

    .timeline-article .content-left-container {
        margin-bottom: 20px;
    }
    
    .timeline-article .content-left, .timeline-article .content-right {
        padding: 10px 25px;
        min-height: 65px;
    }
}