/*-----------------------------------------------------------------------------------*/ 
/*  Width between 1200x to 0
/*-----------------------------------------------------------------------------------*/

@media (min-width: 1200px) {}


/*-----------------------------------------------------------------------------------*/  
/*  Width between 992px to 1199px
/*-----------------------------------------------------------------------------------*/ 

@media (min-width: 992px) and (max-width: 1199px) {
    h1#timeline {
        padding-top: 2%;
    }
}


/*-----------------------------------------------------------------------------------*/ 
/* Width between 768px to 991px
/*-----------------------------------------------------------------------------------*/ 

@media (min-width: 768px) and (max-width: 991px) {
    /* Navbar */
    nav {
        padding: 10px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* Timeline */
    h1#timeline {
        padding-top: 5%;
    }

    /* Portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
        display: inline-block;
    }
    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}


/*-----------------------------------------------------------------------------------*/ 
/* Width between 767px to 0
/*-----------------------------------------------------------------------------------*/ 

@media (max-width: 767px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* Timeline */
    h1#timeline {
        padding-top: 13%;
    }
    .section-title {
        margin-bottom: 10px;
    }

    /* Portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
        display: inline-block;
    }
    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}


/*-----------------------------------------------------------------------------------*/ 
/* Width between 600px to 0
/*-----------------------------------------------------------------------------------*/ 

@media (max-width: 600px) {
    /* Navbar */
    nav {
        padding-top: 19px;
        padding-right: 40px;
        padding-bottom: 19px;
        padding-left: 30px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* Timeline */
    h1#timeline {
        padding-top: 15%;
    }

    /* Portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 10px;
        display: inline-block;
    }

    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}


/*-----------------------------------------------------------------------------------*/ 
/* Width between 480px to 0
/*-----------------------------------------------------------------------------------*/ 

@media (max-width: 480px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* Timeline */
    .img-footer {
        padding-right: 50px;
    }

    /* Portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
    }

    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}


/*-----------------------------------------------------------------------------------*/ 
/* Width between 320px to 0
/*-----------------------------------------------------------------------------------*/ 

@media (max-width: 320px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .responsive {
        float: right;
        padding-top: 15px;
        display: block;
    }

    /* Portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
    }
    
    /* Footer */
    #footer .socials-media ul li {
        margin-right: 0;
        margin-left: 0;
        float: none;
        display: inline-block;
    }
}


/* 
    Last Updated: 15 November 2020
*/