html {
    scroll-behavior: smooth;
}

body {
    background: #ffffff;
    color: #898989;
    font-family: 'Calibri';
    font-size: 15px;
    font-weight: 300;
    line-height: 2.5em;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
    position: fixed;
    background: rgba(214, 211, 211, 0.931);
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

.nav-menu {
    float: right;
    line-height: 32px;
    margin-bottom: 0;
    padding-top: 36px;
}

a.menu {
    font-size: 16px;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    color: #000000;
}

a.menu:hover, a.menu:focus, a.menu-active:hover {
    text-decoration: none;
    color: #936174;
}

a.menu-active {
    color: #000000;
    border-bottom: 2px solid #000000;
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 2px;
    padding-bottom: 18%;
}

a.ig {
    font-size: 25px;
    margin-top: -4px;
    padding-left: 0px;
    padding-right: 0px;
    color: #000000;
}

a.twt {
    font-size: 25px;
    margin-top: -4px;
    color: #000000;
}

a.fb {
    font-size: 25px;
    margin-top: -4px;
    padding-left: 0px;
    padding-right: 0px;
    color: #000000;
}

a.ig:hover, a.twt:hover, a.fb:hover {
    color:#936174;
}

nav ul li {
    float: left;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 40px;
}

nav ul li.socials {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #999999;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.logo {
    float: left;
}

.logo img {
    width: 227px;
    height: 79px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.responsive {
    display: none;
    font-size: 30px;
    color: #000000;
}

.active {
    color: #afafaf;
}

.container-nz {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
    background: url("../images/Landing/landing_wide.png") repeat scroll center center / cover;
    width: 100%;
    height: 100%;
}

#header .header-content {
    height: 100vh;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-content h1 {
    font-size: 57px;
    margin-bottom: 10px;
    color: #fff;
}

.header-content p {
    font-size: 62px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}

.container-nz {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

img.badge-1 {
    width: 133px;
    height: 130px;
}

img.badge-2 {
    width: 133px;
    height: 130px;
}


/*-----------------------------------------------------------------------------------*/
/*  Blog Section
/*-----------------------------------------------------------------------------------*/
.container-blog-h {
    padding-top: 8%;
    padding-bottom: 1%;
}

.col-lg-4 {
    margin-bottom: 3%;  
}

.blog-info  {
    background: #ffffff;
    border-radius: 5%;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.144);
}

#blog {
    height: 100%;
    width: 100%;
    background: #e3e0e0;
    padding-bottom: 60px;
    position: relative;
}

.blog-block {
    display: inline-block;
    height: auto;
    width: 100%;
}

.blog-title {
    color: #000000;
    font-weight: bold;
}

.blog-description {
    color: #000000;
    padding-bottom: 18px;
}

.blog-block .blog-info {
    position: relative;
}

.blog-block .blog-info img {
    max-width: 100%;
}

.blog-text {
    padding: 25px 0px;
    position: relative;
}

.blog-text h4 {
    display: block;
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 13px;
    margin-left: 25px;
    font-weight: bold;
    color: #292929;
}

.blog-text p {
    margin-bottom: 13px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    max-width: 82%;
}

.btn-primary-blog{
    margin-top: 9%;
    padding-top: 9px;
    margin-bottom: 13px;
    margin-left: 50px;
    margin-right: 50px;
    color: #000000;
    background-color: #eea179;
    border-color: #eea179;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.page-number {
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

a.menu-not-active {
    font-size: 16px;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #c8c8c8;
}



/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/
.page-footer {
    background-color: #dddada;
}

.list-inline {
    margin-bottom: 0%;
}

.text-center {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
}

.footer-social {
    font-size: 30px;
    color: #000000;
    margin-left: 25px;
}

.footer-social:hover {
    color: #936174;
}


/*----------------------------------------------------------------------------------*/
/* Responsive Elements
/*----------------------------------------------------------------------------------*/
@media (max-width: 1199px) {

    /*-----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    #blog {
        height: 100%;
        width: 100%;
    }

    .btn-primary-blog{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* 992px to 1046px*/
@media (max-width: 1067px) {

    /*----------------------------------------------------------------------------------*/
    /*  Navbar Top
    /*-----------------------------------------------------------------------------------*/
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .responsive {
        float: right;
        padding-top: 22px;
        display: block;
        margin-right: 1%;
    }

    /*----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    .container-blog-h {
        padding-top: 10%;
        padding-bottom: 1%;
    }


    .btn-primary-blog{
        margin-left: 20px;
        margin-right: 20px;

    }
}

/* 940px to 991px */
@media (max-width: 991px) {

    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/Landing/landing_wide.png") repeat scroll center center / cover;
        height: 100vh;
        width: 100%;
    }
    /* Navbar */
    nav {
        padding: 10px 15px;
        background-color: #cfcace;
    }

    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav ul li.socials {
        margin-left: 0;
    }

    .responsive {
        float: right;
        padding-top: 27px;
        display: block;
    }

    a.menu-active {
        padding-bottom: 2%;
    }


    /*----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    .container-blog-h {
        padding-top: 11%;
        padding-bottom: 1%;
    }
    
    .col-md-6 {
        padding-top: 20px;
        padding-bottom: 60px;
        padding-right: 9%;
    }

    #blog {
        height: 100%;
        width: 100%;
        background: #e3e0e0;
        padding-bottom: 60px;
        position: relative;
    }
    .blog-text p {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        max-width: 82%;
    }

    .btn-primary-blog{
        margin-left: 12px;
        margin-right: 35px;
    }

}

/* 768px to 939px */
@media (max-width: 939px) {

    /*----------------------------------------------------------------------------------*/
    /*  Header & Blog
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/Landing/landing_wide_739.png") repeat scroll center center / cover;
        height: 100vh;
        width: 100%;
    }

    .container-blog-h {
        padding-top: 14%;
        padding-bottom: 1%;
    }
}

/* 601px to 767px */
@media (max-width: 767px) {

    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/Landing/landing_mobile.png") repeat scroll center center / cover;
        height: 100vh;
        width: 100%;
    }

    #header .header-content {
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header-content h1 {
        font-size: 45px;
        margin-bottom: 1px;
        margin-top: -10%;
        color: #fff;
    }

    .header-content p {
        font-size: 48px;
        margin-top: 0;
        margin-bottom: 16px;
        color: #fff;
        font-weight: 700;
    }
    

    /*----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    .container-blog-h {
        padding-top: 18%;
        padding-bottom: 1%;
    }
    
    .blog-info  {
        background: #ffffff;
        border-radius: 5%;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.144);
        width: 90%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .btn-primary-blog{
        margin-left: 60px;
        margin-right: 60px;
        width: 75%;
    }


    /*----------------------------------------------------------------------------------*/
    /*  Footer
    /*-----------------------------------------------------------------------------------*/
    .text-center {
        font-size: 15px;
    }
}

/* 481px to 600px */
@media (max-width: 600px) {

    /*----------------------------------------------------------------------------------*/
    /*  Header & Blog
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/Landing/landing_mobile_small.png") repeat scroll center center / cover;
        height: 100vh;
        width: 100%;
    }

    #header .header-content {
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header-content h1 {
        font-size: 37px;
        margin-bottom: 1px;
        margin-top: -20%;
        color: #fff;
    }

    .header-content p {
        font-size: 45px;
        margin-top: 0;
        margin-bottom: 16px;
        color: #fff;
        font-weight: 700;
    }

    img.badge-1 {
        width: 81px;
        height: 74px;
    }

    img.badge-2 {
        width: 81px;
        height: 74px;
    }

    .container-blog-h {
        padding-top: 20%;
        padding-bottom: 1%;
    }
}

/* 321px to 480px */
@media (max-width: 480px) {

    /*----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/Landing/landing_mobile_small.png") repeat scroll center center / cover;
        height: 100vh;
        width: 100%;
    }
    .header-content h1 {
        font-size: 37px;
        margin-bottom: 1px;
        margin-top: -30%;
        color: #fff;
    }

    .responsive {
        float: right;
        padding-top: 22px;
        display: block;
        margin-right: 10%;
    }

    /*-----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    .container-blog-h {
        padding-top: 28%;
        padding-bottom: 1%;
    }
    
    .col-md-6 {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .blog-info  {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #blog {
        height: 100%;
        width: 100%;
        background: #e3e0e0;
        padding-bottom: 60px;
        position: relative;
    }

    .blog-title {
        font-size: 35px;
    }

    .blog-description {
        font-size: 20px;
    }

    .btn-primary-blog{
        margin-left: 22px;
        margin-right: 22px;
        width: 90%;
        height: 50px;
    }
}

/* 0px to 320px */
@media (max-width: 320px) {

    /*-----------------------------------------------------------------------------------*/
    /*  Header
    /*-----------------------------------------------------------------------------------*/
    #header {
        background: url("../images/Landing/landing_mobile_small.png") repeat scroll center center / cover;
        height: 100vh;
        width: 100%;
    }

    .header-content h1 {
        font-size: 37px;
        margin-bottom: 1px;
        margin-top: -50%;
    }
    
    .header-content p {
        font-size: 42px;
        margin-top: 0;
        margin-bottom: 16px;
    }


    /*----------------------------------------------------------------------------------*/
    /*  Blog
    /*-----------------------------------------------------------------------------------*/
    .container-blog-h {
        padding-top: 32%;
        padding-bottom: 1%;
    }


    .col-md-6 {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .blog-info  {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    #blog {
        height: 100%;
        width: 100%;
        background: #e3e0e0;
        padding-bottom: 60px;
        position: relative;
    }

    .blog-title {
        font-size: 35px;
    }

    .blog-description {
        font-size: 20px;
    }

    .btn-primary-blog{
        margin-left: 22px;
        margin-right: 22px;
        width: 250px;
        height: 50px;
    }

    /*----------------------------------------------------------------------------------*/
    /*  Footer
    /*-----------------------------------------------------------------------------------*/
    .text-center {
        font-size: 18px;
    }
}